############################
# Editor / IDE
############################
.vscode/
.idea/

############################
# OS
############################
.DS_Store

############################
# P4 / Tofino build outputs
############################
build/
output/
logs/
tmp/

*.json
*.conf
*.bf.json
*.bin
*.ctx
*.p4i

############################
# Debug / log files
############################
*.log
*.out
*.dump

############################
# Backup / temp
############################
*~
*.swp
*.tmp